core/schemas/data.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
    <xs:complexType name="VectorType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="value" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DataType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="signal"      type="VectorType" />
            <xs:element name="observation" type="VectorType" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="data" type="DataType"/>
</xs:schema>
