schemas/init.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
    <xs:complexType name="WeightType">
        <xs:attribute name="value"  type="xs:decimal" use="required"/>
        <xs:attribute name="layer"  type="xs:integer" use="required"/>
        <xs:attribute name="neuron" type="xs:integer" use="required"/>
        <xs:attribute name="input"  type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="InitType">
        <xs:sequence>
            <xs:element name="weight" type="WeightType" use="required"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="init" type="InitType"/>
</xs:schema>
